@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (MinimalStyle)
{
    <div @ref=Element
         id="@Id"
         class="@ClassValue"
         style="@StyleValue"
         theme=@Theme
         size=@Size
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
else
{
    <gravity-card @ref=Element
                 id="@Id"
                 class="@ClassValue"
                 style="@StyleValue"
                 theme=@Theme
                 size=@Size
                 @attributes="AdditionalAttributes">
        @ChildContent
    </gravity-card>
}
